@import "tailwindcss";

@theme {
  --color-wff-red: #CC0000;
  --color-wff-dark: #0A0A0A;
  --color-wff-white: #FFFFFF;
  --color-wff-gold: #D4AF37;
  
  --font-bebas: var(--font-bebas), sans-serif;
  --font-sans: var(--font-dm-sans), sans-serif;
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
    color: transparent;
  }
  .text-stroke-hover:hover {
    -webkit-text-stroke: 1px #CC0000;
    color: #CC0000;
  }
}

body {
  cursor: none; /* We will use a custom cursor */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
